# Git
.git
.gitignore

drafts
TODO

# Docker
Dockerfile
.dockerignore

# Development environment
.devcontainer
.vscode
.direnv

node_modules
.pnpm-store
.next

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Documentation
README.md
