body {

}

.photo {
    height: 500px;
    border-radius: 25px;
}

.logo {
    // height: 100%;
    // object-fit: cover;
}

.link {
    text-decoration: none;
    color: #363EEB;
}

.link:hover {
    color: #1C86FF;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
    gap: 10px;
}

.info_text {
    text-align: left;
}

.makecenter {
    display: flex;
    justify-content: center;
    text-align: center;
}

.zero {
    grid-column: 1;
    grid-row: 1;
}

.one {
    grid-column: 2;
    grid-row: 1;
    position: relative;
}

.two {
    grid-column: 1;
    grid-row: 2;
    position: relative;
}

.three {
    grid-column: 2;
    grid-row: 2;
}

.four {
    grid-column: 2;
    grid-row: 2;
}

.five {
    grid-column: 2;
    grid-row: 4;
}

.six {
    grid-column: 3;
    grid-row: 1;
}

.seven {
    grid-column: 3;
    grid-row: 2;
}

.certgrid {
    display: grid;
    grid-auto-rows: repeat(3, 1fr);
}

.contacts {
    flex: inline-flex;
    flex-direction: column;
    grid-row: 1;
}

.contacts a img {
    max-width: 15%;
    height: auto;
}

.certifications {
    grid-row: 2;
    text-align: center;
}


@media (width <= 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }

  .one {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
  }

  .two {
    display: none;
  }

  .three {
    grid-column: 1;
    grid-row: 3;
  }

  // .four {
  //   grid-column: 1;
  //   grid-row: 4;
  // }

  .five {

  }

  .six {
    grid-column: 1;
    grid-row: 4;
  }

  .seven {
    grid-column: 1;
    grid-row: 5;
  }

  .certifications {
    display: none;
  }
}
