.post {
    // background: grey;
    margin: 20px;
    padding: 10px;

    a {
	text-decoration: none;
	color: #363EEB;
	transition: color .15s ease-out 75ms;
    }

    a:hover {
	// color: #1a1515;
	color: #1C86FF;

    }

}

.podcast {
  p {
    padding: 0 30px;
  }
}

.blog {
    margin: 20px;
    padding: 10px;

    .info {
	margin: 0;
    }
}

.header {
    // background: #363EEB;
    // background: #363EEB;
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
}

.codeblock {
    background-color: #363EEB;
}
