.post {
    // background: grey;
    margin: 20px;
    padding: 10px;

    a {
	text-decoration: none;
	color: #363EEB;
	transition: color .15s ease-out 75ms;
    }

    a:hover {
	// color: #1a1515;
	color: #1C86FF;

    }

}

.podcast {
  p {
    padding: 0 30px;
  }
}

.repInfo {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1;

  .photo {
    grid-column: 1;
    // width: 10%;
    // height: auto;
    border-style: solid;
    border-color: black;
  }

  .text {
    // padding: 0;
    // margin: 0;
    grid-column: 2 / span 2;
  }
}

.text {
  margin: 20px;
  padding: 10px;
}

.blog {
    margin: 20px;
    padding: 10px;

    .info {
	  margin: 0;
    }
}

.header {
    // background: #363EEB;
    // background: #363EEB;
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
}


.codeblock {
    background-color: #363EEB;
}
