.header {
    // background: #363EEB;
    // background: #363EEB;
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #363EEB;
}

.link:hover {
    color: #1C86FF;
}

.text {
  margin: 20px;
  padding: 10px;
}

.allReps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.photo {
  border-style: solid;
  border-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 225px;
}

.repInfo {
  color: black;
  border-style: solid;
  border-color: black;
  padding: 5px;
  margin: 5px;


  .text {
    // padding: 0;
    margin: 0;
    grid-column: 2 / 3;
    text-align: center;
  }
}

.repInfo:hover {
  background-color: lightgrey;
}

.infoPage {
  margin: 30px;
  display: grid;
  grid-template-columns: 1.5fr 6fr 1.5fr;
  grid-auto-rows: minxmax(100px, auto);

  .photo {
    padding: 0px;
    margin: 7px;
    grid-column: 1;
    grid-row: 1;
  }

  .infoCentral {
    grid-column: 2;
    grid-row: 1;

  }

  .servingSince {
    text-align: center;
    grid-column: 3;
    grid-row: 1;

    .box {
      // background-color: pink;
      p {
        padding: 0px;
        margin: 0px;
      }
    }
  }

  h3 {
    grid-column: 1;
    grid-row: 2;
  }

  .recentLegislation {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (width <= 800px) {
  .allReps {
    flex-direction: column;
  }

  .repInfo {
    padding: 5px;
    // margin: 0;
      
    .photo {
      // width: 80%;
      // height: 80%;
      padding: 0;
      // margin: 0;
    }

    .text {
    }
  }

  .infoPage {
    grid-template-columns: 1fr;

    .photo {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .infoCentral {
      grid-column: 1;
      grid-row: 2;

      h1 {
        text-align: center;
      }
    }

    .servingSince {
      grid-column: 1;
      grid-row: 3;
    }

    h3 {
      grid-row: 4;
    }

    .recentLegislation {
      grid-column: 1;
      grid-row: 5;
    }
  }
}
