.header {
    // background: #363EEB;
    // background: #363EEB;
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}

.text {
  margin: 20px;
  padding: 10px;
}

.allReps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.repInfo {
  border-style: solid;
  border-color: black;
  padding: 5px;
  margin: 5px;

  .photo {
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text {
    // padding: 0;
    margin: 0;
    grid-column: 2 / 3;
    text-align: center;
  }
}

@media (width <= 800px) {
  .allReps {
    flex-direction: column;
  }

  .repInfo {
    padding: 5px;
    // margin: 0;
      
    .photo {
      // width: 80%;
      // height: 80%;
      padding: 0;
      // margin: 0;
    }

    .text {
    }
  }
}
